
}
.david{
  font-size: 150px;
  background-color: #FFFF00;

}
.floatr{
  float: right;
  background-color: #FFFF00;
}
body {
  background-color: #66FF33;
}
.align{
  font-size: 35px;
  background-color: #FFFF00;
  margin-left: inherit;
  margin-right: inherit;

}

.myp{
  border: 2px solid white;
}
.hd1{
  font-size: 40px;
  font-style: italic;
  font-family: cursive;
  background-color: #FFFF00;


}
.pagename{
  font: sans-serif;
  font-family: fantasy;
  font-weight: bold;
  font-size: 45px;
